$bodyBg: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
$bodyFonts : 'Open Sans', sans-serif;
$containerBg : #f9f9f9;
$containerShadow: 0 10px 40px hsla(0, 0, 0, .1);
$containerRadius: 15px;
$cardBgColor: linear-gradient(135deg, #bd6772, #53223f);
$cardShadow: 0 1px 6px hsla(0, 0, 0, 0.3);
$cardTextShadow: 0 1px 1px hsla(0, 0, 0, 0.3);