* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(50deg, #f3c680, #a1e3e2);
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  padding: 160px 45px 30px;
}

main .container .card {
  width: 400px;
  height: 280px;
  background: linear-gradient(135deg, #bd6772, #53223f);
  border-radius: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: absolute;
  top: -112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-perspective: 1000;
          perspective: 1000;
}

main .container .card .card_data {
  position: relative;
  width: 100%;
  height: 100%;
}

main .container .card .card_data .card_logo .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}

main .container .card .card_data .card_logo .chip::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

main .container .card .card_data .card_logo .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}

main .container .card .card_data .card_logo .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}

main .container .card .card_data .card_number {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  left: 11px;
  font-size: 38px;
}

main .container .card .card_data .card_holder {
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}

main .container .card .card_data .card_holder label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}

main .container .card .card_data .card_expiration_date {
  position: absolute;
  margin: 0 auto;
  font-size: 22px;
  text-transform: capitalize;
  text-align: right;
  left: auto;
  right: 20px;
  bottom: 20px;
}

main .container .card .card_data .card_expiration_date label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}

main .container .form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
  margin-top: 30px;
}

main .container .form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-weight: bold;
}

main .container .form fieldset .input-cart-number {
  width: 82px;
  height: 38px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 8px;
}

main .container .form fieldset .input-cart-number:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */