@import "./variables";
@import "./globalStyle";
@import "./function";

main {
  @include sizing(100vw, 100vh);
  @include flexBox(center, center);
  .container {
    background-color: $containerBg;
    box-shadow: $containerShadow;
    border-radius: $containerRadius;
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    padding: 160px 45px 30px;
    .card {
      @include sizing(400px, 280px);
      background: $cardBgColor;
      border-radius: $containerRadius;
      text-shadow: $cardTextShadow;
      box-shadow: $cardShadow;
      color: #fff;
      position: absolute;
      top: -112px;
      left: 50%;
      transform: translateX(-50%);
      perspective: 1000;
      .card_data {
        position: relative;
        width: 100%;
        height: 100%;
        .card_logo {
          .chip {
            position: absolute;
            width: 60px;
            height: 45px;
            top: 20px;
            left: 20px;
            background: linear-gradient(
              135deg,
              hsl(269, 54%, 87%) 0%,
              hsl(200, 64%, 89%) 44%,
              hsl(18, 55%, 94%) 100%
            );
            border-radius: 8px;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              border: 4px solid hsla(0, 0, 50, 0.1);
              width: 80%;
              height: 70%;
              border-radius: 5px;
            }
          }
          .logo {
            position: absolute;
            top: 9px;
            right: 20px;
            width: 60px;

            svg {
              width: 100%;
              height: auto;
              fill: #fff;
            }
          }
        }
        .card_number {
          position: absolute;
          margin: 0 auto;
          top: 110px;
          left: 11px;
          font-size: 38px;
        }
        .card_holder {
          position: absolute;
          margin: 0 auto;
          bottom: 20px;
          left: 19px;
          font-size: 22px;
          text-transform: capitalize;
          label {
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: normal;
            opacity: 0.5;
            display: block;
            margin-bottom: 3px;
          }
        }
        .card_expiration_date {
          position: absolute;
          margin: 0 auto;
          font-size: 22px;
          text-transform: capitalize;
          text-align: right;
          left: auto;
          right: 20px;
          bottom: 20px;
          label {
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: normal;
            opacity: 0.5;
            display: block;
            margin-bottom: 3px;
          }
        }
      }
    }
    .form {
      fieldset {
        border: none;
        padding: 0;
        padding: 10px 0;
        position: relative;
        clear: both;
        margin-top: 30px;

        label {
          display: block;
          text-transform: uppercase;
          font-size: 11px;
          color: hsla(0, 0, 0, 0.6);
          margin-bottom: 10px;
          font-weight: bold;
        }

        .input-cart-number {
          width: 82px;
          height: 38px;
          color: hsl(0, 0, 20);
          padding: 10px;
          border-radius: 5px;
          font-size: 15px;
          outline: none !important;
          border: 1px solid hsla(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
          display: inline-block;
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
